div.reseaux{
    overflow: auto;
    white-space: nowrap;
    max-width: fit-content;
    margin: auto;
}
div.reseaux a {
    display: inline-block;
}

#github {
    background-image: url(/assets/img/contact/GitHub64px.png);
    width: 64px;
    height: 64px;
}
#instagram {
    background-image: url(/assets/img/contact/Instagram64px.png);
    width: 64px;
    height: 64px;
}
#email {
    background-image: url(/assets/img/contact/AtLogo64px.png);
    width: 64px;
    height: 64px;
}