div.row {
    background-color: rgba(91, 55, 158, 0.705);
    border-radius: 25px;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    position: relative;
}

div.column {
    background-color: rgb(91, 55, 158);
    border-radius: 25px;
    display: inline-block;
    color: rgb(174, 83, 197);
    text-align: center;
    padding: 14px;
    text-decoration: wavy;
}